<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DBToCode</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
  </head>
  <body>
    <button onclick="chooseSqlFile()">choose sql file</button>
    <button onclick="chooseTemplateDir()">choose template dir</button>
    <button onclick="chooseOutputDir()">choose output dir</button>
    <button onclick="startTranslate()">Start Translate</button>
  </body>
  <script src="js/main.js"></script>
</html>
